.app {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.search {
  padding: 10px;
  font-size: 20px;
  width: 400px;
  border-radius: 5px;
}

.list {
  padding: 0;
  list-style: none;
  text-align: center;
}

.listItem {
  margin-bottom: 20px;
  font-size: 25px;
  color: #444;
  font-weight: 300;
}

.flag{
  width: 40px;
}

.app-top{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.filter{
  display: flex;
  flex-direction: row;
  margin-left: 15rem;
  height: 50px;
}

.opt{
  border: 1px solid gray;
  border-radius: 8px;
  padding: 14px;
  font-weight: bold;
  cursor: pointer;
}

.search-top{
  height: 50px;
}

.active{
  background-color: #f4f5f7;
}

.table-view{
  width: 500px;
}